{% extends 'base.html.twig' %}

{% block title %}Inscription | FormaPro{% endblock %}

{% block body %}
<div class="signup-box">
    <div class="signin-wrapper">
        <div class="card p-4 shadow-sm border-0 rounded-4 bg-white">
            <div class="text-center mb-3">
                <img class="mb-2" src="{{ asset('assets/img/signin.webp') }}" alt="icon inscription" width="70" height="70">
                <h1 class="h3 mb-2 fw-bold" style="color:#23272f;">Créer un compte</h1>
                <div class="text-muted mb-3" style="font-size:1.1rem;">Rejoignez-nous et accédez à toutes nos formations&nbsp;!</div>
            </div>
            {{ form_start(form) }}
            <div class="row row-cols-1 row-cols-md-2 g-4 align-items-stretch">
                <div class="col-md-6 pe-md-4 border-md-end">
                    <div class="form-section-title mb-2">Informations personnelles</div>
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.phone) }}
                    {{ form_row(form.birthDate) }}
                </div>
                <div class="col-md-6 ps-md-4 mt-4 mt-md-0">
                    <div class="form-section-title mb-2">Informations complémentaires</div>
                    {{ form_row(form.gender) }}
                    {{ form_row(form.address) }}
                    <div class="avatar-upload mt-2 mb-2">
                        {{ form_row(form.avatar) }}
                    </div>
                    {{ form_row(form.password) }}
                    {{ form_row(form.confirm_password) }}
                </div>
            </div>
            <hr class="my-4">
            <div class="mt-2">
                {{ form_row(form.acceptedTerms) }}
            </div>
            <div class="d-grid mt-3">
                {{ form_row(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
